@* 6. Update Components/Layout/MainLayout.razor *@
@inherits LayoutComponentBase
@using SurveyAggregatorApp.Services

<div>
    <NavMenu />
    <main class="container-fluid">
        @Body
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
